@import '../common/css/index.less';
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
.ant-select {
  .normal-text();
}
.ant-select-dropdown {
  .select-notfound {
    margin: @dbr-margin-large;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// common style
.dbr-sider-menu {
  border-right: none;
  min-height: calc(~'100vh - 54px');
}
.dbr-table {
  .dbr-table-actions .ant-btn-link {
    padding: 0 2px 0 0;
  }
}
.ant-tooltip .ant-btn {
  padding: 4px 2px;
}
.ant-dropdown .ant-btn-link {
  padding: 0 2px 0 0;
}
.ant-tooltip-inner {
  white-space: pre-line;
}
